body{
  margin: 0% !important;
  padding: 0% !important;
  background-color: #f4f4f4f4 !important;
  overflow-x: hidden !important;
  font-family: 'Benne', serif !important;
}

.sidebar{
  position: fixed;
  height: 100vh;
  width: 270px;
  background-color: #ffffff;
  float: left;
  overflow: hidden;
  transform: 0.5s;
}

.logo{
  padding: 15px;
  height: 80px;
}

.logo_img{
  max-width: 40px;
}

.logo_text{
  font-size: 20px;
  font-weight: 700;
}

.user_info{
  padding: 15px;

}

.user_img{
  width: 50px;
  margin-right: 10px;
}

.user_info h5{
  margin: 0;
  font-weight: 700;
}

.user_info p{
  font-size: 15px;
  color: #847b84;
}

.menu-link .nav-link a{
  padding: 15px;
  color: #000;;
  font-weight: 700;
}
.menu-link .nav-link:hover{
  background-color: #f4f4f4f4;
  border-style: none;
}

.menu-link img{
  margin-right: 15px;
}

.active {
  width: 100px;
}
.active .page_content{
  margin-left:100px;
}
.active .nav-link {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 12px;
}
.active .nav-link img {
  margin: 7px;
}
.active .user_img {
  width: 50px;
  margin-right: 23px;
  margin-left: 12px;
}
.active .logo_text {
  display: none;
}
.active .logo_img {
  margin: 0 !important;
}

.page-container{
  margin: 0;
  padding: 0;
  position: relative;
}

.page_content_wrapper{
  float: left;
  width: 100%;
}

.page_content{
  margin-left: 270px;
  min-height: 400px;
}

.top_bar{
  background-color: #ffffff;
  height: 70px;
  padding: 10px 15px;
}

.search_bar{
  position: relative;
}

.global_search{
  border: none;
  border-radius: 12px;
  background-color: #f4f4f4f4 ;
  margin-left: 15px;
  min-width: 300px;
  padding: 10px;
  height: 50px;

}


.xyz{
  margin-top: 15px;
}

.search_icon{
  position:absolute;
  top: 15px;
  right: 15px;
  max-width: 20px;
}

.icon_btn{
  background-color: #f4f4f4f4;
  border-radius: 12px;
  padding: 12px;
  margin-left: 15px; 
  text-align: center;

}

.icon_btn img{
  width: 25px;
}

.logo_btn{
  background-color: #f4f4f4f4;
  border-radius: 12px;
  height: 50px;
  margin-left: 15px;
  padding: 12px;
  text-align: left;
}

.logo_btn h6,.logo_btn p{
  margin: 0%;
}

.logo_btn img{
  width: 30px;
  margin-right: 10px;
}

.logo_btn h6{
  font-size: 12px;
  font-weight: 700;
}
.logo_btn p{
  font-size: 12px;
  font-weight: 500;
  color: #847b84;
}

.inner_section{
  width: 100%;
  height: 100%;
  padding: 20px 30px;
  
}
.dash_card{
  background-color: #ffffff;
  border-radius: 12px;
  padding: 15px;
  margin-bottom: 10px;
}
.img_box{
  width: 80px;
  height: 80px;
  border-radius: 12px;
  
}

.dash_card h4,.dash_card p{
  margin: 0;
}

.dash_conntent h4{
    font-weight: 700;
    font-size: 30px;
    color: #afa1af;
    margin-bottom: 10px;
}
.dash_conntent p{
  font-size: 25px;
    font-weight: 500;
}
.order_box{
  background-color: #88dee5;
}
.produt_box{
  background-color:#847b84;
}
.payment_box{
  background-color: #5a93d4;
}

.customer_box{
  background-color: #e2b450;
}






